<p id="notice"><%= notice %></p>

<p>
  <strong>Reciever:</strong>
  <%= @activity.reciever_id %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @activity.amount %>
</p>

<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', activities_path %>
